.feed {
  border: 1px solid #cccccc;
  max-height: 740px;
  border-radius: 50px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.feed_icons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.feed_header {
  position: relative;
  width: 90%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.user_prof {
  color: #343333;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feed_info h2 {
  color: #343333;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.feed_info p {
  color: #343333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status_text {
  width: 90%;
  margin-top: 14px;
  color: #343333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post_img {
  width: 90%;
  background-image: url(./feedimg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  margin-top: 12px;
}

.comment {
  color: #343333;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 90%;
  justify-content: end;
  margin-top: 16px;
  margin-bottom: 16px;
}

.line {
  width: 90%;
  border-bottom: 1px solid #cccccc;
}

.comments {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.comment_p {
  color: #343333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
