header {
  display: flex;
  justify-content: center;
}

.grayheader {
  width: 94%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  height: 100px;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ovalimg {
  width: 42px;
  height: 42px;
}

.linklogo {
  margin-right: 39%;
}

.footerul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #747171;
  font-weight: 400;
  cursor: pointer;
}
