.searchdiv{
    display: flex;
    gap: 8px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #CCC;
    width: 250px;
    padding: 5px 8px;
}

.searchinput{
    border: none;
    background-color: transparent;
}

.searchinput::placeholder{
    color: #343333;
    font-size: 16px;
    font-weight: 400;
}

